# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [3]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [4]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [5]:
#  1. Get the total rides for each city type

urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count.head()

suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count.head()

rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count.head()

NameError: name 'urban_cities_df' is not defined

In [ ]:
# 2. Get the total drivers for each city type

urban_driver_count = urban_cities_df.groupby(["city"]).sum()["driver_count"]
urban_driver_count.head()

suburban_driver_count = suburban_cities_df.groupby(["city"]).sum()["driver_count"]
suburban_driver_count.head()

rural_driver_count = rural_cities_df.groupby(["city"]).sum()["driver_count"]
rural_driver_count.head()

In [ ]:
#  3. Get the total amount of fares for each city type

urban_fare = urban_cities_df.groupby(["city"]).sum()["fare"]
urban_fare.head()

suburban_fare = suburban_cities_df.groupby(["city"]).sum()["fare"]
suburban_fare.head()

rural_fare = rural_cities_df.groupby(["city"]).sum()["fare"]
urban_fare.head()

In [ ]:
#  4. Get the average fare per ride for each city type. 

urban_avg_fare_per_ride = urban_cities_df.groupby(["city"]).sum()["fare"] / urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_avg_fare_per_ride.head()

suburban_avg_fare_per_ride = suburban_cities_df.groupby(["city"]).sum()["fare"] / suburban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_avg_fare_per_ride.head()

rural_avg_fare_per_ride = rural_cities_df.groupby(["city"]).sum()["fare"] / rural_cities_df.groupby(["city"]).count()["ride_id"]
rural_avg_fare_per_ride.head()

In [ ]:
# 5. Get the average fare per driver for each city type. 

urban_avg_fare_per_driver = urban_cities_df.groupby(["city"]).sum()["fare"] / urban_cities_df.groupby(["city"]).sum()["driver_count"]
urban_avg_fare_per_driver.head()

suburban_avg_fare_per_driver = suburban_cities_df.groupby(["city"]).sum()["fare"] / suburban_cities_df.groupby(["city"]).sum()["driver_count"]
suburban_avg_fare_per_driver.head()

rural_avg_fare_per_driver = rural_cities_df.groupby(["city"]).sum()["fare"] / rural_cities_df.groupby(["city"]).sum()["driver_count"]
rural_avg_fare_per_driver.head()

In [ ]:
#  6. Create a PyBer summary DataFrame. 

pyber_summary_df = pd.DataFrame(
    {
        "Type": ["Rural", "Suburban", "Urban"],
        "Total Rides":
        [rural_ride_count, suburban_ride_count, urban_ride_count],
        "Total Drivers": 
        [rural_driver_count, suburban_driver_count, urban_driver_count],
        "Total Fares": [rural_fare_df, suburban_fare, urban_fare],
        "Average Fare per Ride": 
        [rural_avg_fare_per_ride, suburban_avg_fare_per_ride, urban_avg_fare_per_ride],
        "Average Fare per Driver": 
        [rural_avg_fare_per_driver, suburban_avg_fare_per_driver, urban_avg_fare_per_driver]
    }
)

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.head()

In [100]:
#  8. Format the columns.
new_column_order = ['Type', 'Total Rides', 'Total Drivers', 'Average Fare per Ride', 'Average Fare per Driver']
pyber_summary_df = pyber_summary_df[new_column_order]
pyber_summary_df.head()

,Type,Total Rides,Total Drivers,Average Fare per Ride,Average Fare per Driver
0,Rural,city Bradshawfurt 10 Garzaport ...,city Bradshawfurt 70 Garzaport ...,city Bradshawfurt 40.064000 Garzaport ...,city Bradshawfurt 5.723429 Garzaport ...
1,Suburban,city Barronchester 16 Bethanyland ...,city Barronchester 176 Bethanyland ...,city Barronchester 36.422500 Bethanyla...,city Barronchester 3.311136 Bethanyla...
2,Urban,city Amandaburgh 18 Barajasview ...,city Amandaburgh 216 Barajasview ...,city Amandaburgh 24.641667 Barajasv...,city Amandaburgh 2.053472 Barajasvi...

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [6]:
# 1. Read the merged DataFrame
%matplotlib inline

# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Read df
pyber_data_df = pd.read_csv("Resources/PyBer_ride_data.csv")
pyber_data_df

    Month  Avg. Fare ($USD)
0     Jan             10.02
1     Feb             23.24
2     Mar             39.20
3   April             35.42
4     May             32.34
5    June             27.04
6    July             43.82
7     Aug             10.56
8    Sept             11.85
9     Oct             27.90
10    Nov             20.71
11    Dec             20.09

In [7]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

total_fare = pyber_data_df.groupby(["city"]).sum()["fare"]
total_fare.head()

KeyError: 'city'

In [8]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
df = df.reset_index()

NameError: name 'df' is not defined

In [9]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
pd.pivot_table(df,
               index=['Date'],
               values=['Fare']
              )

NameError: name 'df' is not defined

In [10]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [119]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [120]:
# 7. Check that the datatype for the index is datetime using df.info()

In [109]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')